.advantage {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.advantage-description {
  color: var(--dark-blue, #005564);
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
